<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Tracer Tumba 2.1 Bluetooth Speaker System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:replace="~{fragments/menu :: nav-menu}"></header>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Tracer Tumba 2.1 Bluetooth Speaker System</h1>
    <img src="/images/Speaker%202.png" alt="Speaker 2">
    <p class="lead">Power: 20 W; Number of acoustic channels: 2.1; Power supply: From the network; Equipment: With FM tuner, DC remote control; Connection: Wired; Type: Speakers + Subwoofer; Compatibility: Laptops, PCs; Wireless capabilities: Bluetooth; Outputs: 1 x mini-jack (3.5 mm) Stereo; Installation type: Portable; Inputs: 2 x Microphone input; Material: Wood; Features: With karaoke, PC connection; Interfaces: USB, Card reader</p>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
