<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Speaker System Genius SP-HF500B</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:replace="~{fragments/menu :: nav-menu}"></header>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Speaker System Genius SP-HF500B</h1>
        <img src="/images/Speaker%201.png" alt="Speaker 1">
        <p class="lead">Power: 16 W; Number of acoustic channels: 2.0; Power supply: From the network; Connection: Wired; Type: Acoustic system; Outputs: 1 x mini-jack (3.5 mm), 1 x Stereo (1/4"); Mounting type: Portable; Inputs: 1 x Line input (mono) (1/4"), AUX (1/8")</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
